/* index文件专用 */
.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

/* 焦点图/轮播图 */
.focus {
    float: left;
    width: 721px;
    height: 455px;
}

.newflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 超出文字部分隐藏 */
    overflow: hidden;
    /* 文字一行显示 */
    white-space: nowrap;
    /* 文字超出显示省略号 */
    text-overflow: ellipsis;
}

.lifeservice {
    /* 隐藏最后一个超出部分的li */
    overflow: hidden;
    height: 209px;
    /* background-color: purple; */
    border: 1px solid #e4e4e4;
    border-top: 0;
}

/* 最后一个 li掉下来，修改ul */
.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    margin-top: 12px;
    /* 后面用JS */
    background: url(../images/icons.png) no-repeat -19px -15px;
}

/* 减的制作 */
.lifeservice .down {
    position: absolute;
    top: 0;
    /* 用right会导致数量变大时，模块往左边延伸 */
    right: 0;
    width: 15px;
    height: 20px;
    /* 会继承父亲-shopcat的line-height: 35px */
    line-height: 14px;
    color: #fff;
    background-color: green;
}

.lifeservice .down div {
    position: absolute;
    top: 7px;
    width: 0;
    height: 0;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 7.5px 7.5px 7.5px 7.5px;
}

.bargain {
    margin-top: 6px;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

.recom_bd ul li img {
    width: 240px;
    height: 163px;
}

.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

/* 楼层区制作，不给高度 */
/* 家用电器 */
.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    /* 不加粗 加粗是700 */
    font-weight: 400;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
}

/* 子代选择器 */
.tab_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
}

.col_210 ul {
    padding-left: 12px;
}

.col_329 {
    width: 329px;
    height: 361px;
}

.col_221 {
    width: 221px;
    height: 361px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
    height: 361px;
}

/* 直接这样不显示，需要将a转成行内块或块级元素 */
.border_bottom {
    /* 一般情况下，a如果需要包含有宽度的盒子，a需要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}